/* *{
    text-align: center;
    background-color: red;
    color: antiquewhite;
} */
 h1{
    background-color: aquamarine;
 }
 p{
    background-color: blue;
 }
 div{
    background-color: chartreuse;
 }
 span{
    background-color: chocolate;
 }