fieldset{
    width: 350px;
    height: 250px;
    background-image: url(../../Asset/photo/charminar.jpeg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
fieldset:hover{
    background-image: url(./../../Asset/photo/charminar.jpeg);
    background-size: 50%;
    background-position: left;
}
h1{
    width: 220px;
    color: rgba(225,225,225,0);
}
p{
    color: rgba(224,225,225,0);
}
#container{
    width: 60%;
    height: 100%;
    float: left;
}
fieldset:hover h1{
    color: white;
}
fieldset:hover p{
    color: lavender;
}
